@import "variables"

@font-face
    font-family 'icons'
    src url(icomoon-font-path + '/icons.eot?it4h45')
    src url(icomoon-font-path + '/icons.eot?it4h45#iefix') format('embedded-opentype'), url(icomoon-font-path + '/icons.ttf?it4h45') format('truetype'), url(icomoon-font-path + '/icons.woff?it4h45') format('woff'), url(icomoon-font-path + '/icons.svg?it4h45#icons') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    font-family 'icons' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-fs
    &:before
        content icon-fs
.icon-ic_star_white_18px
    &:before
        content icon-ic_star_white_18px
.icon-heart
    &:before
        content icon-heart
.icon-ic_add_circle_outline_black_24px
    &:before
        content icon-ic_add_circle_outline_black_24px
.icon-ic_apps_black_24px
    &:before
        content icon-ic_apps_black_24px
.icon-ic_battery_alert_black_24px
    &:before
        content icon-ic_battery_alert_black_24px
.icon-ic_battery_charging_full_black_24px
    &:before
        content icon-ic_battery_charging_full_black_24px
.icon-ic_call_black_24px
    &:before
        content icon-ic_call_black_24px
.icon-ic_call_end_black_24px
    &:before
        content icon-ic_call_end_black_24px
.icon-ic_clear_black_24px
    &:before
        content icon-ic_clear_black_24px
.icon-ic_contacts_black_24px
    &:before
        content icon-ic_contacts_black_24px
.icon-ic_dialpad_black_24px
    &:before
        content icon-ic_dialpad_black_24px
.icon-ic_favorite_black_24px
    &:before
        content icon-ic_favorite_black_24px
.icon-ic_language_black_24px
    &:before
        content icon-ic_language_black_24px
.icon-ic_mic_black_24px
    &:before
        content icon-ic_mic_black_24px
.icon-ic_mic_off_black_24px
    &:before
        content icon-ic_mic_off_black_24px
.icon-ic_navigation_black_24px
    &:before
        content icon-ic_navigation_black_24px
.icon-ic_pause_black_24px
    &:before
        content icon-ic_pause_black_24px
.icon-ic_play_arrow_black_24px
    &:before
        content icon-ic_play_arrow_black_24px
.icon-ic_remove_circle_outline_black_24px
    &:before
        content icon-ic_remove_circle_outline_black_24px
.icon-ic_replay_black_24px
    &:before
        content icon-ic_replay_black_24px
.icon-ic_restore_black_24px
    &:before
        content icon-ic_restore_black_24px
.icon-ic_skip_next_black_24px
    &:before
        content icon-ic_skip_next_black_24px
.icon-ic_skip_previous_black_24px
    &:before
        content icon-ic_skip_previous_black_24px
.icon-ic_view_module_black_24px
    &:before
        content icon-ic_view_module_black_24px
.icon-ic_volume_down_black_24px
    &:before
        content icon-ic_volume_down_black_24px
.icon-ic_volume_mute_black_24px
    &:before
        content icon-ic_volume_mute_black_24px
.icon-ic_volume_off_black_24px
    &:before
        content icon-ic_volume_off_black_24px
.icon-ic_volume_up_black_24px
    &:before
        content icon-ic_volume_up_black_24px
.icon-music
    &:before
        content icon-music
.icon-web
    &:before
        content icon-web


@font-face {
	font-family: 'geomanistregular';
	src: url(geo-font-path + '/geomanist-regular-webfont.eot');
	src: url(geo-font-path + '/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'), url(geo-font-path + '/geomanist-regular-webfont.woff2') format('woff2'), url(geo-font-path + '/geomanist-regular-webfont.woff') format('woff'), url(geo-font-path + '/geomanist-regular-webfont.ttf') format('truetype'), url(geo-font-path + '/geomanist-regular-webfont.svg#geomanist_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

//lighter typeface

@font-face {
	font-family: 'geomanistlight';
	src: url(geo-font-path + '/geomanist-light-webfont.eot');
	src: url(geo-font-path + '/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'), url(geo-font-path + '/geomanist-light-webfont.woff2') format('woff2'), url(geo-font-path + '/geomanist-light-webfont.woff') format('woff'), url(geo-font-path + '/geomanist-light-webfont.ttf') format('truetype'), url(geo-font-path + '/geomanist-light-webfont.svg#geomanistlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'geomanistextralight';
	src: url(geo-font-path + '/geomanist-extralight-webfont.eot');
	src: url(geo-font-path + '/geomanist-extralight-webfont.eot?#iefix') format('embedded-opentype'), url(geo-font-path + '/geomanist-extralight-webfont.woff2') format('woff2'), url(geo-font-path + '/geomanist-extralight-webfont.woff') format('woff'), url(geo-font-path + '/geomanist-extralight-webfont.ttf') format('truetype'), url(geo-font-path + '/geomanist-extralight-webfont.svg#geomanistextralight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'geomanistthin';
	src: url(geo-font-path + '/geomanist-thin-webfont.eot');
	src: url(geo-font-path + '/geomanist-thin-webfont.eot?#iefix') format('embedded-opentype'), url(geo-font-path + '/geomanist-thin-webfont.woff2') format('woff2'), url(geo-font-path + '/geomanist-thin-webfont.woff') format('woff'), url(geo-font-path + '/geomanist-thin-webfont.ttf') format('truetype'), url(geo-font-path + '/geomanist-thin-webfont.svg#geomanistthin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'geomanistmedium';
	src: url(geo-font-path + '/geomanist-medium-webfont.eot');
	src: url(geo-font-path + '/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'), url(geo-font-path + '/geomanist-medium-webfont.woff2') format('woff2'), url(geo-font-path + '/geomanist-medium-webfont.woff') format('woff'), url(geo-font-path + '/geomanist-medium-webfont.ttf') format('truetype'), url(geo-font-path + '/geomanist-medium-webfont.svg#geomanistmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

//bold typeface

@font-face {
	font-family: 'geomanistbook';
	src: url(geo-font-path + '/geomanist-book-webfont.eot');
	src: url(geo-font-path + '/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'), url(geo-font-path + '/geomanist-book-webfont.woff2') format('woff2'), url(geo-font-path + '/geomanist-book-webfont.woff') format('woff'), url(geo-font-path + '/geomanist-book-webfont.ttf') format('truetype'), url(geo-font-path + '/geomanist-book-webfont.svg#geomanistbook') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'geomanistbold';
	src: url(geo-font-path + '/geomanist-bold-webfont.eot');
	src: url(geo-font-path + '/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'), url(geo-font-path + '/geomanist-bold-webfont.woff2') format('woff2'), url(geo-font-path + '/geomanist-bold-webfont.woff') format('woff'), url(geo-font-path + '/geomanist-bold-webfont.ttf') format('truetype'), url(geo-font-path + '/geomanist-bold-webfont.svg#geomanistbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'geomanistblack';
	src: url(geo-font-path + '/geomanist-black-webfont.eot');
	src: url(geo-font-path + '/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'), url(geo-font-path + '/geomanist-black-webfont.woff2') format('woff2'), url(geo-font-path + '/geomanist-black-webfont.woff') format('woff'), url(geo-font-path + '/geomanist-black-webfont.ttf') format('truetype'), url(geo-font-path + '/geomanist-black-webfont.svg#geomanistblack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'geomanistultra';
	src: url(geo-font-path + '/geomanist-ultra-webfont.eot');
	src: url(geo-font-path + '/geomanist-ultra-webfont.eot?#iefix') format('embedded-opentype'), url(geo-font-path + '/geomanist-ultra-webfont.woff2') format('woff2'), url(geo-font-path + '/geomanist-ultra-webfont.woff') format('woff'), url(geo-font-path + '/geomanist-ultra-webfont.ttf') format('truetype'), url(geo-font-path + '/geomanist-ultra-webfont.svg#geomanistultra') format('svg');
	font-weight: normal;
	font-style: normal;
}
