icomoon-font-path ?= "/static/font/iconfont"
geo-font-path ?= "/static/font/geomanist"

icon-heart = "\e900"
icon-ic_add_circle_outline_black_24px = "\e901"
icon-ic_apps_black_24px = "\e902"
icon-ic_battery_alert_black_24px = "\e903"
icon-ic_battery_charging_full_black_24px = "\e904"
icon-ic_call_black_24px = "\e905"
icon-ic_call_end_black_24px = "\e906"
icon-ic_clear_black_24px = "\e907"
icon-ic_contacts_black_24px = "\e908"
icon-ic_dialpad_black_24px = "\e909"
icon-ic_favorite_black_24px = "\e90a"
icon-ic_language_black_24px = "\e90b"
icon-ic_mic_black_24px = "\e90c"
icon-ic_mic_off_black_24px = "\e90d"
icon-ic_navigation_black_24px = "\e90e"
icon-ic_pause_black_24px = "\e90f"
icon-ic_play_arrow_black_24px = "\e910"
icon-ic_remove_circle_outline_black_24px = "\e911"
icon-ic_replay_black_24px = "\e912"
icon-ic_restore_black_24px = "\e913"
icon-ic_skip_next_black_24px = "\e914"
icon-ic_skip_previous_black_24px = "\e915"
icon-ic_view_module_black_24px = "\e916"
icon-ic_volume_down_black_24px = "\e917"
icon-ic_volume_mute_black_24px = "\e918"
icon-ic_volume_off_black_24px = "\e919"
icon-ic_volume_up_black_24px = "\e91a"
icon-music = "\e91b"
icon-web = "\e91c"

geo = 'geomanistregular'
geoMed = 'geomanistmedium'
geoBook = 'geomanistbook'
geoBold = 'geomanistbold'

redHer = #f75053
greyHer = #a9a8a8
grayHer = #d8d8d8
goldHer = #f9cfa5